/* SET BODY MARGIN TO ZERO FOR FULL FLUSH IMAGE LEFT */
body {
  margin: 0;
  background-image: linear-gradient(67deg, dodgerblue, linen, darkblue);
}
img {
  z-index: -3;
  border-top-right-radius: 15%;
  border-bottom-left-radius: 15%;
}
span.hover:hover {
  color: turquoise;
  font-size: 7.5rem;
}
h1 {
  color: deeppink;
  font-family: Impact;
  font-size: 7rem;
  z-index: 1;
  width: 100%;

  position: absolute;
  top: 8rem;
  padding-left: 37%;

  text-shadow: 0.105rem 0 #7ffff0;
  border-top: 0.025rem solid #7ffff0;
}
a {
  text-decoration: none;
}
.lowercase {
  text-transform: lowercase;
}
.pDivText {
  text-align: justify;
  position: absolute;
  top: 1rem;
  left: 63rem;
  right: 3rem;
}
ul {
  text-align: justify;
  margin-top: 4.5rem;
  position: absolute;
  top: 17.5rem;
  left: 62rem;
  right: 3rem;
}
li::marker {
  color: #7ffff0;
}
h2 {
  color: whitesmoke;
  font-family: impact;
  font-size: medium;

  position: absolute;
  top: 30rem;
  left: 47rem;
}
.smParaText {
  color: whitesmoke;
  font-size: x-small;
  text-transform: lowercase;
  text-align: justify;

  position: absolute;
  top: 32rem;
  left: 47rem;
  width: 11rem;
}
table {
  border: 0.05rem solid deeppink;
  position: absolute;
  top: 30.5rem;
  left: 63rem;
  width: 11rem;
}
th {
  color: #7ffff0;
  text-shadow: 0.05rem 0 darkslategrey;
}
th,
td {
  text-align: center;
  padding: 0.5rem;
  border: 0.05rem solid dodgerblue;
}
#mainBodyText {
  margin: 1.5rem 2rem;
  text-align: justify;
}
